// Style Guide Helpers
.section-padding {
  padding-bottom: 60px;
}

@import "variables";

$color-styles: (
  'white': $white,
  'gray-base': $gray-base,
  'gray-darker': $gray-darker,
  'gray-dark': $gray-dark,
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-lighter': $gray-lighter,
  'purple': $purple,
  'magenta': $magenta,
  'black': $black
);

// Text and Background Color Classes
@each $name, $value in $color-styles {
  .#{$name} {
    color: $value;
  }

  a.#{$name} {
    color: $value;

    &:hover {
      color: darken($value, 5%);
    }
  }

  ._#{$name} {
    background-color: $value;
  }

  .fill-#{$name} {
    fill: $value;
  }
}

._gradient-purple {
  background-image: linear-gradient(40deg, $purple, $magenta);
}

._gradient-purple-dark {
  background-image: linear-gradient(40deg, transparent 0%, $black 100%);
  background-color: $purple-dark;
}

._gradient-purple-dark--reverse {
  background-image: linear-gradient(40deg, transparent 0%, $purple-dark 100%);
  background-color: $black;
}

.logomark {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXoAAAHiCAYAAADmlQe+AAAACXBIWXMAAC4jAAAuIwF4pT92AAAO20lEQVR42u3d4XEbxx3G4VcefRdTgZAKhFRguAIxFQiswHQFJisIVUHACkJVELACkxUYrCBABcyHW0YcRxZJEMDd7j3PDEczGssSF4cf/lwc7t7c39/PksxCbVZJFpYBeMrbEvlfLUV1roUeeI4fLAGA0AMg9AAIPQBCD4DQAyD0AAg9gNADIPQACD0AQg+A0AMg9AAIPYDQAyD0AAg9AEIPgNADIPQACD0AQg8g9AAIPQBCD4DQAyD0AAg9AEIPIPQACD0AQg+A0AMg9AAIPQBCDyD0AAg9AEIPgNADIPQACD0AQg+A0AMIPQBCD4DQAyD0AAg9AEIPgNADCD0AQg+A0AMg9AAIPQBCD4DQAwg9AEIPgNADIPQACD0AQg+A0AMg9ABCD4DQAyD0AAg9AEIPgNADIPQAQg+A0AMg9AAIPQBCD4DQAyD0AAg9gNADIPQACD0AQg+A0AMg9AAIPYDQAyD0AAg9AEIPgNADIPQACD2A0AMg9AAIPQBCD4DQAyD0AAg9AEIPIPQACD0AQg+A0AMg9ABs5839/b1VADDRAyD0AAg9AEIPgNADIPQACD2A0AMg9AAIPQBCD4DQAyD0AHzbW0vAK5xZglGu06x8UYcrlynmNRw8z/OmwReuXz2sVbhMMrd1A9Bw5BN79ABNR17oAdpzm+T08W8IPUBbkZ8lWQs9wEgiL/QAjUde6AEaj7zQA9Rt81TkhR6g8cgLPUDdkb95zn8s9AANR17oARqPvNADNB55oQeox+k2kRd6gDqcJFls+4eFHqDhyAs9QOORF3qAxiMv9ADDdL6ryAs9wPBcZsc3lBd6gGFFfr7r/6nQAzQceaEHaDzyQg/QeOSFHqBft/uOvNAD9Bv52SH+IqEH6C/y60P8ZUIP0HDkk+Rt5Qs2SzItX5Py9f6JP3NdFvjm0dfKsQe0GPkaQz9NclwW6sct/x8Pf+7jo9+7S7JMclV+XTsegR276yPytYR+UuJ++oxpfVvvk3wqX0l3utOiRB/gtTalY70MkUPeo5+U2P6e5B97jPy3fEry73RbOnPHKPDKyM+y5d2hWg39JN0Wyu+PJuy+vE/yT8EHao380EJ/lOSiBP7jwB6sx8GfOXaBWiI/pNAfl4j+PPAH7n26LZ2L8sIEMOjIDyH0D1P8v5K8q+hB/Lk8gFPHM/AN86FEvu/QT9Kd1fJzpQ/k+yS/pTsbCODBSbr3GQejr9BPy6vdhwYe1H9kh7f8AqqP/OB60Efo52WSf9fQg/upPLj27UHkB+fQoZ+nO3vlXYMP8qfyAib2IPKjDf1xiXzLPsQ2DozNL0N/3h8q9NMRBfCj2MNoXKY7c3DQDhH6o7S3J/+UT0nOPAeg+cjPa/iHHiL0Y4v8g1/jU7Qg8iMI/UXaOIVyW1fx5iyIfMOhn6XeD0PtyrvYrweRbzj0Atf5mO6MI6But6n0Krb7Cv1ZDnv9+KFbxBYO1B75Wa3/+H2E/iiu//JH76wJVB/5am8xuo/QX2ScZ9k85dRUDyLfQugn6f+uUKZ6QOT3GPq5Y8NUDyLfduhNrE9P9c7AgWHblKF13co3tMvQz2Nv3osh1B/5WQZ0d6ihhd6k+jwf4haEIPIVhv4o3QeD8KIIIt9o6IXLeoHINx76mWPlRT7E2TcwpMHrpuVvUOj7Y82gfyfpLqXetF2E/iiua7MNb8hC/5FfjOEb3UXoBctEDyIv9Fg3EPmaQ+9Nxe34cBmIfDWhnzl2TPVQgcuM9IZIP3jse+WnIThc5Odj/eaFHhB5oTeVAiI/9tB/cCwBIt926G8tIzAw1yK/29CvLSMwILdx4cCdhx5gSJGfGUCFHhB5oX+hG8u4taUlAJGvIfQWdjsbSwAiX0voTaV+EoI+B6Zjkd9/6FeWUeihp8jPNOhwob+zlEIPPUTe8+hAoRet7SwtAYh8TaG/spQvcufHTRD52kJvOvXCCIcg8j2GfhXXvHmJhSWAFzsR+X5DnyQXlvNZ7hyssFXkDUgDCP1VfAjINA8i33To17H3LPQg8k2HPknOLOl3XcbZNiDylYd+VWKGF0J4jc8iP9zQi5lpHnbxXDm1DMMO/aq8GvPVxgsgPDvyc8sw/NA/TPXOwPnqwjQPIt9a6NcesP+5Nc2DyLcY+qQ71fLLyNd34+CFJ33xPKk39CkP3pgvYXwan4KFp37iFfnKQ79Od/eXMe7XX8bpYfBU5Gdxd6jqQ58y0Z6O8AA2pYDIjyb0KZPtycgOYEDkRxX6scTeAQyeI6MOfeuxdwDD9208R8YR+lZjL/Ig8kL/jdj/lDbOxrlMMnUAw5ORd6rxyEKfdPeZnSa5rvjgPYmza0Dkhf67VuUgOK9s3R62ahYOIRB5oX+esyR/q2C63yT5pfwk4uAFkRf6F7opB8bfM8zLJlwmmcRN0OE5XP5D6L/rqgT1ZADB35TA/zXdXrw3XOFpbgEo9M+2KMH/KYe/PeFdui2aSQn8yqECIl+rtxX8G5fl6zTdBdKO023xvNvx33Nb/p6FHzlB5IW+H+tyED0cSNMS/GmZvH984cS+KmG/Kb/algGRF/qBufmTyXua5Og7f0bQYbfORV7o+3gBAA7jMm6VOXg/WALgFZGfWwahB0Senr25v7+3CmzLwfPM51lj388kTjkWeoSepkNPZWzdAAg9AEIPgNADIPQACD0AQg+A0AMIPQBCD4DQAyD0AAg9AEIPgNADCD0AQg+A0AMg9AAIPQBCD4DQAyD0AEIPgNADIPQACD0AQg+A0AMg9ABCD4DQAyD0AAg9AEIPgNADIPQAQg+A0AMg9AAIPQBCD4DQAyD0AAg9gNADIPQACD0AQg+A0AMg9AAIPYDQAyD0AAg9AEIPgNADIPQACD2A0FsCAKEHQOgBEHoAhB4AoQdA6AEQegChB0DoARB6AIQeAKEHQOgBEHoAoQdA6AEQegCEHgChB0DoARB6AIQeQOgBEHoAhB4AoQdA6AEQegCEHmBk3loCXuHcEsDwvbm/v7cKAA2zdQMg9AAIPQBCD4DQAyD0AAg9AEIPIPQACD0AQg+A0AMg9AAIPQBCDyD0AAg9AEIPgNADIPQACD0AQg+A0AMIPQBCD4DQAyD0AAg9AEIPgNADCD0AQg9APd6O+HufJ5k4BGDwVkkWlmF7b+7v78f6vS+T/OgQgMG7TjKzDNuzdQMg9AC9WlkCoQeEHqEHEPoxWnv4AaFv242HHxB6AIQeYM+WlkDot7Xy8ANCL/QAQg+wZ0tL8DpjvtbNUZL/OARg+J2yBCb6bTmPHobv1hII/WvdOQTAQCb0bVs5BGDQfLBR6B1EYKJH6B1EYBgT+lFbOgRg0FaW4PXGfHpl0t0z9neHAQy3UZbARG9agHY5tVLod+baEsAg2Z8XegcT+IkboRd6qNnSEuzG2N+MTZJpkt8cCjC8PlkCE/0uJ/qNZYBB8Uas0O8l9oDnpNA3bGkJwHNS6B1UgOdklbwZ+5WFgGG4S/epdUz0O/fFEoBpXugdXMD+XVmC3bJ189UkLnAGQ/CXuIS4iX5PVnFrQejbtcgLvR8ZwXMQoXeQgecgj9mj/3/rJO8sAxzcbbprT2GiN1FAoxaWQOgdbGDIYgu2br5tleS9ZYCDsW1jojdZQOMuLIGJ/tAm8eEpOCQfkjLRH9wqbnwAh3Ip8kLvR0lo28IS7Jetm+9zTj3sl0sSm+hNGtC4M0tgou/bJN6UhX3ZlOeY/XkTfa9WcUMS2OdPzCJvoh+EWZJ/WwbYub+WYQoTfe+W6a6RDezOpcib6E31YJrHRH/wqd7dp2A3rkVe6IfqzBKA51KNbN28zE2SD5YBXjXNzyyD0A/ZLPbq4TXszffA1s3LLOMMHNiWM21M9KZ6MM1joh/OVH9pGeBFzkXeRF+bSVwDB57LNW1M9FValQkFeNqpyJvoa3WU7nRLNxGHP+d0ShN91dZlUgG+P80j9FW7issYw5/5XH7qpWe2bl7vKN2evVsOwld3SaaxN2+ib8Q6rt0BfzQXeaFvzUV8YhYefE73eRMGwtbN7kzS7UfawmHMbNmY6Ju2Kj+uwpjNRV7oW3cVl0dgvM5jy2aQbN3sng9SMUY+GCX0ozNN8ptlYCQ25ZhfWYphsnWzHzdJTiwDI3Es8kI/VovYr6d99uUrYOtmv47Kk8B9ZmnRlzLNI/RiH5dIoD236d58dSplBWzd7N+6PCE2loJGbMokL/JCzyM3cblW2jGLN1+Fnm9aJPnFMlC5k7j0cHXs0fcT/E+WgUojv7AMJnqeNo/TLqnPpcib6Hm5qyQfLQOVRH5uGYSel3OOPSLPQdi66c/DaZe3lgKRR+jFHkQeoRd7EHmEvobYOxsHkUfoG4/9XOzp0WeRb9NbSzA4D080H6rikHwYykRPD7F34xIOYSPy7XMe/bAdlyegSxyzr8jP4to1Jnp6dVWeiHeWgh27TXefV5EXegbgpjwhnX7JrlzGpYaFnsFZl9h/thS80i/p3gNy05ARsUdfn3mSi9i352Ue7gq1tBRCTx2m6d6kdUE0nuM6bv03arZu6vSwb28rh6ecx028TfQm+urN0p2dYyuHx27TbfM5qwYTfQOWSSZJvlgKis9xfjxC35x1uj3Yv8c592Of4n9KchpbNQh9s65i736szstjv7QU/JE9+nbN0p2G6cyctl2n24tfWQpM9OOzLBPeSbpzqGnLXbqtupnII/Qs0r1Ze24pmrApj+Uk3VYdPMnWzbhMkpzFte5r9bk8ft5oReh5VvAvkny0FFW4LIFfWQqEnpeapXsjz4Qv8Ag9I5jwzwR/EDbp9t4FHqFnb8Gfp/vAjUsqHNZdujfOL2IPHqHnAI7SfdL2NM7D37frEviFpUDo6cu0BP/YlL8zm0fT+8pyIPQMbco/jrN1tnWZbv/d+e8IPaLfkC+P4m7vHaGn+ujPYntn8yjsS3FH6GnR7NHXjyP5nq8fhd014BF6Rh3+aQMT/+ZR0JdxWWCEHv7PpAR/WuI/SfJ+oP/WuxL0x18rDyFCD9tP/kflBeDh12S/2z+bfN1qWT76dR1bMAg99PZi8MefDiZP/JnVN6bwpaVkTP4LwT4d45DuLM4AAAAASUVORK5CYII=) no-repeat 0;
  background-size: 100%;
  width: 26px;
  height: 40px;
  margin: 0 0 0 8px;
  overflow: hidden;
  text-align: center;
  display: block;
}

@import "bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "buttons";
@import "browser-mock";
@import "theme-custom";
